
<div class="container">
  
  <div class="row">
    <% if URI(request.referer || '').path == '/users/sign_up' %>
      <h4>You are now signed up - please complete some profile information about yourself.</h4>
    <% end %>
  </div>
 
  <%= simple_form_for  @profile, :url => profile_path, html: {multipart: true} do |f| %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "registration" %>
    <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= render 'profiles/about_me_partial', profile: @profile, f: f  %>

    <%= render 'profiles/cancer_history_partial', profile: @profile, f: f  %>
      
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>  
