

<tbody>
  <div class="container">
    <%= form_tag profiles_path, :method => :get, remote: true do %>
        <p class="lead">Here’s a display of all profiles.  Feel free to browse this list or use the filters to narrow your display.</p>
        <div class="row">
          <div class="fieldWrapper">
            <%= text_field_tag :search, params[:search], placeholder: "Enter Cancer Type" %>
            <%= submit_tag "Search", id:"search-btn" %> &nbsp;&nbsp;
          </div>
          <div class="fieldWrapper">
            <b>Ages:</b> <%= text_field_tag :min_age, params[:min_age] || Profile::MIN_AGE, :size => "5" %>
          </div>
          <div class="fieldWrapper">
            <b>&nbsp;to&nbsp;</b> <%= text_field_tag :max_age, params[:max_age] || Profile::MAX_AGE, :size => "5"  %>
          </div>
          <div class="fieldWrapper">
          <b>&nbsp;Within:&nbsp;</b><%= text_field_tag :distance, params[:distance] , :size => "10" %> <b>mi</b>
          </div>
          <div class="fieldWrapper">

          </div>
        </div>
    <% end %>

    <div id="profiles-table">
      <div class="row">
        <div class="col-md-12">
          <div class="clearfix">
              <% @profiles.each do |profile| %>
                <div class="bordered-container profile-image-container text-center">
                  <% if profile.avatar.attached? %>
                    <%= link_to (image_tag profile.avatar.variant(resize: "160x200"), :class => "profile-image-small"), profile_path(profile) %>
                  <% else %>
                    <%=  link_to (image_tag("profile-default.jpg")), profile_path(profile) %>
                  <% end %>
                  <br><%= link_to profile.user.username, profile_path(profile), class: 'btn btn-default'%><br>
                    <% if (current_user.profile.check_liked(profile.id)) %>
                      <%= button_to(profile_save_unlike_path(:profile_id => current_user.profile.id, :like_id => profile.id), method: "post") do %>
                        <i class="fa fa-heart" title="Favorite" style="font-size:24px;color:red"></i>
                      <% end %>
                    <% else %>
                      <%= button_to(profile_save_like_path(:profile_id => current_user.profile.id, :like_id => profile.id), method: "post") do %>
                        <i class="fa fa-heart-o" title="Favorite" style="font-size:24px;"></i>
                      <% end %>
                    <% end %>
                  <em class="font-sm"><b>Age:</b> <%= profile.age %>, <b>Distance:</b> <%= profile.city %>, <%= profile.state_code %> </em>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="search-results">

    </div>
    <!-- % unless @profiles.blank? % -->
      <!-- %= paginate @profiles % -->
    <!-- % end % -->
  </div>
  </div>
</tbody>

<!--- -->
  
