<p id="notice"><%= notice %></p>

  <%= form_tag search_profiles_path, :method => :get do %>
    <div class="container">
        <div class="row">
        
        <p class="lead">Here’s a display of all profiles.  Feel free to browse this list or use the filters to narrow your display.</p>
          <%= text_field_tag :query, params[:query] %> 
        
          <%= submit_tag "Search" %>

          <%= text_field_tag :min_age, params[:min_age] || "18", :size => "5" %> <b>Min Age</b>
        
          <%= text_field_tag :max_age, params[:max_age] || "130", :size => "5"  %> <b>Max Age</b>
          <%= text_field_tag :distance, params[:distance] , :size => "10" %> <b>Distance </b>
          </div>
    </div>


  <% end %>

  <tbody>
    
    <!---  -->
    <div class="container">
        <div class="row">
        

          <div class="col-md-12">            
                
                <div class="clearfix">

                    <% if current_user.profile.profile_exists(@profiles) %>
                      <div class="bordered-container profile-image-container text-center">
                          <% if current_user.profile.avatar.attached? %>
                            <%= image_tag current_user.profile.avatar.variant(resize: "160x200"), :class => "profile-image-small"%>
                          <% else %>
                            <%= image_tag("profile-default.png", :class => "profile-image-small", :size => "60x112") %>
                          <% end %>
                          <br><%= link_to current_user.profile.user.username, profile_path(current_user.profile), class: 'btn btn-default'%><br>
                            Self<br/>
                          <em class="font-sm"><b>Age:</b> <%= current_user.profile.age %>, <b>Distance:</b> <%= current_user.profile.distance %> miles</em>
                      </div>
                    <% end %>
                
               
                    <% @profiles.each do |profile| %>
                      <% unless profile.id == current_user.profile.id %>
                      <div class="bordered-container profile-image-container text-center">
                        <% if profile.avatar.attached? %>
                          <%= image_tag profile.avatar.variant(resize: "160x200"), :class => "profile-image-small"%>
                        <% else %>
                           <%= image_tag("profile-default.png", :class => "profile-image-small", :size => "60x112") %>
                        <% end %>
                        <br><%= link_to profile.user.username, profile_path(profile), class: 'btn btn-default'%><br>
                        
                          <% if (current_user.profile.check_liked(profile.id)) %>
                            <p><span class="glyphicon glyphicon-heart"></span> Saved</p>
                            <%= button_to 'Remove Save', save_unlike_user_path(profile.user.id), method: :post %>
                          <% else %>
                            <%= button_to 'Save', save_like_user_path(profile.user.id), method: :post %>
                          <% end %>
                        
                        <em class="font-sm"><b>Age:</b> <%= profile.age %>, <b>Distance:</b> <%= profile.distance %> miles</em>
                      </div>
                    <% end %>
                  <% end %>
                </div>
            
          </div>
        </div>
        
      
    </div>

<!--- -->
  
