
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <div  class="profile-heading"> 
        <h4> User: <%= @profile.user.username %> &nbsp;&nbsp; Email: <%= @profile.user.email %> </h4>
        </div>
      </div>
      <div class="col-md-6">
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        <%= button_to new_conversation_path, method: :get,  params: { :user_id => @profile.user.id },  :class => "btn btn-lg btn-primary pull-right" do %>
          <span class="glyphicon glyphicon-send">Send Message to <%= current_user.username %></span>
        <% end %>
      </div>
    </div>

    <div class="row">
      <% if @profile.dob %>
        <div class="col-md-12"><h5> <%= @profile.user.username %> is <%= @profile.age %> years old.</h5></div>
      <% else %>
        <div class="col-md-12"><h6> Age is unknown. (Please edit your Profile and your add Date of Birth.)</h6></div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <% if @profile.avatar.attached? %>
          <div class="bordered-container profile-image-container">
            <strong>Avatar:</strong>
            <br>
            <%= image_tag @profile.avatar.variant(resize: "300x300") %>


          <!-- p><%= image_tag @profile.avatar.variant(resize: "50x50") %></p -->

          <%= link_to 'Remove Photo/Avatar', delete_avatar_url(@profile.id) %>
          </div>
        <% end %> &nbsp;
    </div>

    <div class="col-md-6">
        <h5>  <%= @profile.user.username %>'s' Self Description: </h5><%= @profile.details_about_self %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h5>Reason For Wanting Partner: </h5> <dl><%= @profile.reason_for_match %></dl>
      </div>
      <div class="col-md-6">
          <h5> Cancer location: </h5>
          <dl> <%= @profile.cancer_location  %>
          <% unless @profile.other_cancer_location.blank? %> , <%= @profile.other_cancer_location %> <% end %>
           </dl>
      </div>
    </div>

    <div class="row">
        <div class="col-md-6">
              <h5> Your current fitness level: </h5> <dl> <%= @profile.fitness_level %> </dl>
        </div>
        <div class="col-md-6">
          <h5> Treatment Status </h5> <dl><%= @profile.treatment_status %> </dl>
        </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <h5> Personality: </h5>
        <dl>
          <%= @profile.personality %>
        </dl>
      </div>
      <div class="col-md-6">
        <h5> Zipcode: </h5>
        <dl> <%= @profile.zipcode %></dl>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h5> Activities: </h5>
        <dl>
          <% @profile.activities.each do |activity| %>
            <%= activity.name %>
          <% end %>
        </dl>
      </div>
      <div class="col-md-6">
        <h5> Other favorite activites: <dl> <% @profile.other_favorite_activities %> </dl> </h5>
      </div>
    </div>
      

    <div class="row">
      <div class="col-md-6">
        <h5> Exercise Reasons: </h5>
          <% @profile.exercise_reasons.each do |exercise_reason| %>
            <dl>
              <%= exercise_reason.name %>
            </dl>
          <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h5> Preferred Exercise Location:</h5> <dl> <%= @profile.prefered_exercise_location %> </dl>
      </div>
      <div class="col-md-6">
        <h5> Preferred Exercise Time: </h5><%= @profile.prefered_exercise_time %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h5> Cancer treatments: </h5> <dl> <%= @profile.treatment_description %> </dl>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
          <h5> Participated in Programs for treatment:</h5>
          <dl>
            <% if @profile.part_of_wellness_program? %>
              Yes
            <% else %>
              No
            <% end %>
            </dl>
      </div>
      <div class="col-md-6">
        <h5> Programs for cancer treatment:</h5>  <dl> <%= @profile.which_wellness_program %> </dl>
      </div>
    </div>

  </div>
</div>
