
<%= stylesheet_link_tag "registration" %>
<h1><%= t('.sign_up') %></h1>
<div class="container">
  <div class="row registration-steps row-no-padding">
  
  <div class="col-md-2">
    <div class="registration-step registration-step-active">
      <div class="number"><div class="circle">1</div></div>
      Basic Info
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step">
      <div class="number"><div class="circle">2</div></div>
      About Me
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step">
      <div class="number"><div class="circle">3</div></div>
      Cancer History
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step">
      <div class="number"><div class="circle">4</div></div>
      Photo
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step">
      <div class="number"><div class="circle">5</div></div>
      Confirm Email
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step ">
      <div class="number"><div class="circle">6</div></div>
      Browse Profiles
    </div>
  </div>


</div>

<!-- div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" -->    

<div class="row">
    <div class="col-md-8">
      
      <h1>Account Information</h1>
      <hr>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
       
        <%= devise_error_messages! %>

        <%= f.error_notification %>

        <div class="form-group", class: "required">
          <%= f.label :username %>
          <p class="font-sm font-light"><em>Your username will be your profile display name.</em></p>
          <%= f.input :username,  label: false %>
        </div>

        <div class="form-group", class: "required">
          <%= f.label :email %>
          <p class="font-sm font-light"><em>Email address will not be seen by other users.</em></p>
          <%= f.input :email, label: false, required: true %>
        </div>
        

        <div class="form-group">
          <%= f.label :date_of_birth, class: "required"%>
          <p class="font-sm font-light"><em>Only your calculated age is displayed as part of your profile.</em></p>
          <%= f.input :dob, label: false, include_blank: true,
          as: :date, start_year: Date.today.year - 120,
          end_year: Date.today.year - 1,
          order: [:day, :month, :year] %>
        </div>

        <div class="form-group">
          <%= f.label :what_is_your_home_zipcode? , class: "required" %>
          <p class="font-sm font-light"><em>Zip code will be kept private, but will be used by our system to find exercise partners near you.</em></p>
          <%= f.input :zipcode, label: false, required: true %>
        </div>

        <div class="form-group">
          <%= f.label :password , class: "required" %>
          <%= f.input :password, label: false, input_html: { autocomplete: 'current-password' } %>
          <% if @minimum_password_length %>
            <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
          <% end %>
        </div>


        <div class="form-group">
          <%= f.label :password_confirmation, class: "required"%>
          <%= f.input :password_confirmation, label: false, required: true,  input_html: { autocomplete: 'current-password' } %>
        </div>

        <div class="form-group">
          <%= f.label :how_did_you_learn_about_us?, class: "required"%>
          <%= f.input :referred_by, as: :select, collection: Profile.referred_by, label: false, required: true %>
        </div>

        <div class="form-group">
          <%= f.input_field :terms_of_service, as: :boolean,  label: false %>
          I agree to the <%= link_to 'Terms of Use', users_terms_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
          <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
            </div>
          </div>
        </div>

        <div class="field">
          <%= flash[:recaptcha_error] %>
          <%= f.label :recaptcha, class: "required"%>
          <%= recaptcha_tags site_key: '6Lf6Ja8UAAAAABXowY3tZ5UXOsSeyO61__kGKhFj'
          %>
        </div>

        <div class="form-group">
          <%= f.submit "Next", class: 'btn btn-primary' %>
        </div>
      <% end %>

    </div>
  </div>  
</div>