
<%= stylesheet_link_tag "registration" %>
<h1><%= t('.sign_up') %></h1>
<div class="container">
  <div class="row registration-steps row-no-padding">
  
  <div class="col-md-2">
    <div class="registration-step registration-step-active">
      <div class="number"><div class="circle">1</div></div>
      Basic Info
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step">
      <div class="number"><div class="circle">2</div></div>
      About Me
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step">
      <div class="number"><div class="circle">3</div></div>
      Cancer History
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step">
      <div class="number"><div class="circle">4</div></div>
      Photo
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step">
      <div class="number"><div class="circle">5</div></div>
      Confirm Email
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step ">
      <div class="number"><div class="circle">6</div></div>
      Browse Profiles
    </div>
  </div>


</div>

<!-- div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" -->    

<div class="row">
    <div class="col-md-8">
      
      <h1>Account Information</h1>
      <hr>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="form-group">
          <label class="string required required" for="user_username"> <span class="largeFont" >Username: </span></label>
          <p class="font-sm font-light"><em>Your username will be your profile display name.</em></p>
          <%= f.input :username,  label: false %>
        </div>

        <div class="form-group", class: "required">
          <label class="email optional required" for="user_email"><span class="largeFont" >Email:</span></label>
          <p class="font-sm font-light"><em>Email address will not be seen by other users.</em></p>
          <%= f.input :email, label: false, required: true %>
        </div>
        

        <div class="form-group">
          <label class="string optional required" for="user_date_of_birth"><span class="largeFont" >Date of Birth: </span></label>
          <p class="font-sm font-light"><em>Only your calculated age is displayed as part of your profile.</em> Must be 18 or older to create an account.</p>
          <%= f.input :dob, label: false, include_blank: true,
          as: :date, start_year: Date.today.year - 120,
          end_year: Date.today.year - 1,
          order: [:day, :month, :year] %>
        </div>

        <div class="form-group">
          <label class="string optional required" for="user_zipcode"><span class="largeFont" >Zip Code:</span></label>
          <p class="font-sm font-light"><em>Zip Code will be kept private, but will be used by our system to find exercise partners near you.</em></p>
          <%= f.input :zipcode, label: false, required: true %>
        </div>

        <div class="form-group">
          <label class="password optional required" for="user_password"><span class="largeFont">Password:</span></label>
          <%= f.input :password, label: false %>
          <% if @minimum_password_length %>
            <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
          <% end %>
        </div>

        <div class="form-group">
          <label class="string optional required" for="user_how_did_you_learn_about_us"><span class="largeFont">How did you learn about us?</span></label>
          <%= f.input :referred_by, as: :select, collection: Profile.referred_by, label: false, required: true %>
        </div>

        <div class="form-group">
          <div class="row">
          &nbsp;&nbsp;&nbsp;&nbsp;<%= f.input :terms_of_service, as: :boolean,  label: false,  allow_nil: false %>
            <%= link_to 'I have read and agreed to the Terms of Use & Privacy Policy', users_terms_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
              </div>
            </div>
          </div>
          <span style="color:red"><font size=2><%= flash[:terms_of_service_error] %></font></span><br/>
        </div>

        <div class="form-group">
          <span style="color:red"><font size=2><%= flash[:recaptcha_error] %></font></span><br/>
          <%= Rails.application.secrets.recaptcha_site_key %>
          <%= ENV["RECAPTCHA_SITE_KEY"] %> 
          <!-- %= invisible_recaptcha_tags  text: 'Create Account',  class: 'btn btn-primary' % -->
        </div>

      <% end %>

    </div>
  </div>  
</div>