<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container-fluid"  width="100%" style="text-align:center">
      <h1><span class="font-pink">Welcome to 2Unstoppable, <%= @user.username %></span></h1>
      <h2>
        <span class="font-pink">
          We are so glad that you signed-up to be part of the 2Unstoppable community.
        </span>
      </h2>
      <h3> One more step before you can start browsing and connecting with other members.
      </h3>
      <h1>
       <%= link_to "Confirm Account",  confirm_email_user_url(@user.confirm_token), :class => "button" %>
      </h1>
      <p> Your login information is: </p>
      <p> Username: <%= @user.username %>
      <p>Forgot your password? Reset it here <%= link_to "Edit Password", edit_password_user_url(@user) %>   </p>

      <p> Whether it’s finding a buddy or connecting you to <%= link_to "Resources", "http://2unstoppable.org/contact-us/" %> we are always happy to help!
      </p>

      <%= render "shared/email_footer" %>
    </div>
  </body>
</html>