<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container-fluid"  width="100%" style="text-align:center">
      <h1><span style="color:#ed698e">Welcome to 2Unstoppable</h1>
      <h2><span style="color:#ed698e">We are so glad that you signed-up to be part of the 2Unstoppable community.</span></h2>
      <h2> One more step before you can start browsing and connecting with other members. Please enter the confirmation token number in the App. </h2>
      <h2>
        <%= @user.confirm_token %>
      </h2>
      <p style="font-size:150%;"> Your login information is:</p>
      <h2> <b> Username: <%= @user.username %> </b></h2>
      <!-- p style="font-size:150%;">Forgot your password? <span style="color:brown">Reset it here</span><span style="background-color:yellow">&nbsp;&nbsp;<%= link_to t(".forgot_your_password"), get_email_address_url(:stype => "P") %> </span>  </p -->
      <p style="font-size:150%;"> Whether it’s finding a buddy or connecting you to <%= link_to "Resources", "http://2unstoppable.org/contact-us/" %> we are always happy to help!
      </p>
      <%= render "shared/email_footer" %>
    </div>
  </body>
</html>