<script>
$('#image_upload_id').on('change', function() {
    showImage(this);
})
</script>
<h1>Photo Upload</h1>

<% if @profile.avatar.attached? %>
  
  <div>
    <p>
      <strong>Avatar:</strong>
      <br>
      <%= image_tag @profile.avatar.variant(resize: "300x300") %>
    </p>

    <!-- p><%= image_tag @profile.avatar.variant(resize: "50x50") %></p -->

    <%= link_to 'Remove', delete_avatar_url(@profile.avatar.id) %>
  </div>
<% else %>

  <%= simple_form_for @profile, :url => attachment_photosave_path, :method => :post, html: {multipart: true} do |f| %> 
    <div>
      <%= f.label :avatar %>
    
     
        <%= f.file_field :avatar, id: "image_upload_id" %>
     
        <div id="your_preview_id"></div>

     <div>
      <%= f.drag_and_drop_file_field :avatar, 'Drag and drop images here!' %>
     </div>
    
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
<% end %>

  


