<h1> All  Conversations </h1>

<div class="container">
      
    <div id="postman">
        <h1>Received Messages</h1>
        <ul class="nav justify-content-end">
            <li> <%= link_to "New Conversation", new_conversation_path(), :class => "btn btn-primary btn-lg pull-right" %></li> </li>
        </ul>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="/conversations">Inbox</a></li>
            <li class="nav-item"><a class="nav-link" href="/conversations/sentbox">Sent</a></li>
            <li class="nav-item"><a class="nav-link  active" href="/conversations/trash">Archives</a></li>
        </ul>
        <br>
    <%= form_tag trash_multiple_conversations_path, method: :delete do %>
        <%= hidden_field_tag :from_tab, :value => "sentbox" %>
        <table id="pm_messages" class="table table-striped">
            <thead>
                <tr>
                    <th data-sort-ignore="true"><input type="checkbox" id="selectAll"></input></th>
                    <th><a href="?o=f">Receipient</a></th>
                    <th><a href="?o=s">Subject</a></th>
                    <th><a href="?o=d">Sent</a></th>
                </tr>
            </thead>
            <tbody>
                <% @conversations.each do |conversation| %>
                    <tr>
                        <td><%= check_box_tag "conversation_ids[]", conversation.id, false, class: 'selectable' %></td>
                        <td><%= @recipients[conversation.id].username %> &nbsp;&nbsp;<%= avatar_for(@recipients[conversation.id], 40) %></td>
                        <td><%= link_to conversation.subject, conversation_path(conversation) %> - <%= conversation.messages.last.body %> </td>
                        <td><%= conversation.updated_at %></td>
                    </tr>
                <% end %> 
            </tbody>
        </table>

        <span id="pm_buttons">
            <div class="btn-group">
                <%= submit_tag  "Delete", :class => 'btn btn-primary btn-xs',  :value => "Delete" %>
                
            </div>
        </span>
    <% end %>
    </div>
</div>


