

 <div class="container">
      
  <div class="row registration-steps row-no-padding">
  
    <div class="col-md-2">
      <div class="registration-step registration-step-complete">
        <div class="number"><div class="circle">1</div></div>
        Basic Info
      </div>
    </div>
  
    <div class="col-md-2">
      <div class="registration-step registration-step-complete">
        <div class="number"><div class="circle">2</div></div>
        About Me
      </div>
    </div>
  
    <div class="col-md-2">
      <div class="registration-step registration-step-complete">
        <div class="number"><div class="circle">3</div></div>
        Cancer History
      </div>
    </div>
  
    <div class="col-md-2">
      <div class="registration-step  registration-step-complete">
        <div class="number"><div class="circle">4</div></div>
        Photo
      </div>
    </div>
  
    <div class="col-md-2">
      <div class="registration-step registration-step-active">
        <div class="number"><div class="circle">5</div></div>
        Confirm Email
      </div>
    </div>

    <div class="col-md-2">
      <div class="registration-step ">
        <div class="number"><div class="circle">6</div></div>
        Browse Profiles
      </div>
    </div>

  </div>
</div>

    <div class="container-fluid"  width="100%" style="text-align:center">
      <h1><span class="font-pink">Welcome to 2Unstoppable <%= @user.username %>!</span></h1>
      <p style="font-size:150%;"> <span class="font-pink">We are so glad that you signed up and created a profile.</span></p>
      <p style="font-size:150%;"> Before you can begin connecting with other members, please confirm your account. </p>
      <p style="font-size:150%;"> An email has been sent to <%= @user.email %></p>
      <p style="font-size:150%;"> If you cannot find your confirmation email, click below. </p>
      <%= simple_form_for(@user, as: :user, method: :post, url: resend_confirmation_user_path) do |f| %>
        <%= f.button :submit, "Resend Email" %>
      <% end %>
      <br/>
      <%= render "shared/email_footer" %>
    </div>
  

    
