<div class="container">
<div class="row registration-steps row-no-padding">

  <div class="col-md-2">
    <div class="registration-step registration-step-complete">
      <div class="number"><div class="circle">1</div></div>
      Basic Info
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step registration-step-complete">
      <div class="number"><div class="circle">2</div></div>
      About Me
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step registration-step-complete">
      <div class="number"><div class="circle">3</div></div>
      Cancer History
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step  registration-step-complete">
      <div class="number"><div class="circle">4</div></div>
      Photo
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step registration-step-active">
      <div class="number"><div class="circle">5</div></div>
      Confirm Email
    </div>
  </div>

  <div class="col-md-2">
    <div class="registration-step ">
      <div class="number"><div class="circle">6</div></div>
      Browse Profiles
    </div>
  </div>

</div>
</div>

  <div class="container-fluid"  width="100%"  style="text-align:center">
    <h1><span style="color:#ed698e">Hello <%= @user.username %>!</span></h1>
    <h2>You are almost ready to start connecting with other 2Unstoppable members.  Before you can begin connecting with other members, please confirm your account. 
    </h2>
    <br/>
    <h3> If you cannot find the email, please click below. </h3>
    <%= simple_form_for(@user, as: :user, method: :post, url: resend_confirmation_user_path) do |f| %>
      <div>
        <%= f.button :submit, "RESEND Email", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
    <br/>
    <%= render "shared/email_footer" %>
    <%= render "shared/return_to_main" %>
  </div>