<div class="container">
  <div class="jumbotron">

      <div class="form-group">
          <label class="string required required" for="user_username"> <span class="largeFont" >Username: </span></label>
          <%= @user.username %>
      </div>

      <div class="form-group", class: "required">
          <label class="email optional required" for="user_email"><span class="largeFont" >Email:</span></label>
          <%= @user.email %>
      </div>


      <div class="form-group">
          <label class="string optional required" for="user_date_of_birth"><span class="largeFont" >Date of Birth: </span></label>
          <%= @user.profile.dob %>
      </div>

      <div class="form-group">
          <label class="string optional required" for="user_zipcode"><span class="largeFont" >Zip Code:</span></label>
          <%= @user.profile.zipcode %>
      </div>
      <div class="form-group">
        <%= button_to 'Edit Account Settings', edit_account_settings_user_path(@user), method: :get, :class => "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>