<!DOCTYPE html>
<html>
  <head>
    <title>2Unstoppable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
      <%= stylesheet_link_tag "application" %>
      <%= stylesheet_link_tag "registration" %>
      <!-- div class="bg-info">HAHAHA</div -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="navbar navbar-expand navbar-light bg-light">
          <ul class="nav navbar-nav">
              <li class="nav-item">
                <a class="navbar-brand" href="https://2unstoppable.org/"><%= image_tag "2Unstoppable_logo.png" %></a> 
              </li>
              <% if current_user && current_user.profile && current_user.profile.email_confirmed? %> 
                <li> <b> <h5> User: <%= current_user.username %> </b> &nbsp;</h5>
                </li>
                <li>
                  <% if current_user.profile.avatar.attached? %>
                    <%= avatar_for(current_user, 50) %>
                  <% end %>&nbsp;
                </li>
                <li>
                  <% if current_user.admin? %>
                    <%= link_to rails_admin_path, :class => "nav-item" do %>
                      <%= content_tag :span, "Dashboard", :class => "glyphicon glyphicon-dashboard" %>
                      &nbsp
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <%= link_to profiles_path(:user_id => current_user.id), :class => "nav-item" do  %>
                    <%= content_tag :span, "Browse", :class => "glyphicon glyphicon-search" %>
                    &nbsp;
                  <% end %>
                </li>
                <li>
                  <%= link_to conversations_path(:user_id => current_user.id), :class => "nav-item" do  %>
                    <span class="glyphicon glyphicon-envelope">Messages</span>
                    <span class="badge badge-pill badge-dark"><%= current_user.unread_messages %></span>&nbsp;
                  <% end %>
                </li>
                <li>
                  <%= link_to profiles_path(:user_id => current_user.id), :class => "nav-item" do  %>
                    <%= content_tag :span, "Favorites", :class => "glyphicon glyphicon-search" %>
                    &nbsp;
                  <% end %>
                </li>
              <% end %>
              <li>
                    <% if current_user && current_user.profile && current_user.profile.email_confirmed? %>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Action buttons
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= link_to profile_path(current_user.profile), :class => "dropdown-item" do %>
                          <%= content_tag :span, "My Profile  ", :class => "glyphicon glyphicon-user" %>
                          &nbsp
                        <% end %>
                        <%= link_to edit_profile_path(current_user.profile), :class => "dropdown-item" do %>
                          <%= content_tag :span, "Edit Profile", :class => "glyphicon glyphicon-pencil" %>
                          &nbsp;&nbsp;
                        <% end %>
                        <%= link_to  attachment_photo_path(:profile_id => current_user.profile), :class => "dropdown-item" do %>
                          <%= content_tag :span, "Upload Photo", :class => "glyphicon glyphicon-camera" %>
                          &nbsp;&nbsp;
                        <% end %>
                        <%= link_to  user_path(current_user), :class => "dropdown-item" do %>
                          <%= content_tag :span, "Account Settings", :class => "glyphicon glyphicon-star" %>
                          &nbsp;&nbsp;
                        <% end %>
                        <%= link_to edit_password_user_path(current_user), method: :get, :class => "dropdown-item"  do %>
                          <%= content_tag :span, "Change Password", :class => "glyphicon glyphicon-king" %>
                        <% end %>
                        <%= link_to destroy_user_session_path, method: :delete, :class => "dropdown-item"  do %>
                          <%= content_tag :span, "Logout", :class => "glyphicon glyphicon-king" %>
                        <% end %>
                    </div>
                <% end %>
              </li>
          </ul>
        </div>
        </nav>
      </div>
    </header>
    
    <div class="container">
      
    <div class="row">
  
   
      <!-- div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" -->      
        <%= yield %>
      <!-- /div -->
  </div>


    <footer>
      <hr>
      <p>
        <a href="https://2unstoppable.org/faq/">Frequently Asked Questions</a> &bull;
        <a href="/2unstoppable_terms/">Terms of Use</a>&nbsp;
      </p>
      
    </footer> 
</div></div>

  </body>

</html>