<!DOCTYPE html>
<html>
  <head>
    <title>Example Website</title>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
   
  <%= stylesheet_link_tag "progressbar" %>
    <!-- %= render "header" % -->

    <header>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">2Unstoppable</a>
       
            <div style="padding-right: 30px;">
              <% if current_user %>
                <h4>
                  User: <%= current_user.username %> &nbsp;&nbsp;&nbsp;&nbsp;
                  <% if current_user && current_user.profile && current_user.profile.avatar.attached? %>
                    <%= image_tag current_user.profile.avatar.variant(resize: "50x50") %>
                  <% end %>
                </h4>
              <% end %>
            </div>
            <div style="padding-left: 10px;">
                <button class="btn btn-outline-success" type="button"><%= link_to('Logout',         destroy_user_session_path, :class => "btn", method: :delete) %>
                </button>
            </div>
    </header>

    <div class="container"  width="100%">
      <div class="row">
        <ul class="progressbar">
          <li> Step 1 </li>
          <li class="active"> Step 2 </li>
          <li> Step 3 </li>
        </ul>
        </div>
      </div>

   
      <div class="container-fluid">
      
        <div class="row">
          <% if current_user && current_user.profile %> 
            <div class="col-sm-3 col-md-2 sidebar" id="sidebar">
              <div class="list-group">
              <%= link_to "View Profile", profile_path(current_user.profile), :class => "list-group-item active" %>
                <%= link_to "Edit Profile", edit_profile_path(current_user.profile), :class => "list-group-item active" %>
                <!--%= link_to "View User", user_path(current_user), :class => "list-group-item active" %-->
                <%= link_to "Upload Photo", attachment_photo_path(current_user), :class => "list-group-item active" %>

                <%= link_to "Browse Profiles", profiles_path, :class => "list-group-item active"  %>
              </div>
            </div><!--/.sidebar-offcanvas-->
          <% end %>

          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">      
            <%= yield %>
          </div>
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; 2Unstoppable 2018, Inc.</p>
      </footer>

    </div><!--/.container-->
    
   
  </body>
</html>
