<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#9781ae">
    <title>2Unstoppable | Sign Up</title>
    <!-- title>2Unstoppable Ver 2.0</title -->
    
  </head>

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "registration" %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <body>
  
    <!-- %= render "header" % -->

    <header>
      <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
            <a class="navbar-brand" href="https://2unstoppable.org/"><%= image_tag "2unstoppable.png" %></a>
          
        </div>
        
        <div class="navbar-collapse navbar-right collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
              
            <%= link_to  "Login", new_user_session_path %>
                  <li><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  <li><a href="/profiles/register/"><span class="glyphicon glyphicon-pencil"></span> Sign Up</a></li>
                
                <li><a href="https://2unstoppable.org/faq/"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a></li>
              
            </ul>
          </div><!--/.nav-collapse -->
        
      </div>
    </div>
    </header>

    

   
      <div class="container-fluid">
      
        <div class="row">
      
       
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">      
            <%= yield %>
          </div>
      </div><!--/row-->

      

      <footer>
          <hr>
          <p>
            <a href="https://2unstoppable.org/faq/">Frequently Asked Questions</a> &bull;
            <a href="/2unstoppable_terms/">Terms of Use</a>&nbsp;
          </p>
      </footer>


    </div><!--/.container-->
    
   
  </body>
</html>
